<div class="site-footer">
  <div class="footer-top bg-off-black pv4">
      <div class="footer-columns db">
        <div class="footer-column">
        </div>
        <div class="footer-column">
          <ul class="social-media links ">
            {# TODO: turn this into a module #}
            <li class="db">
              <a class="social-media-link db" href=""><i class="fa fa-instagram db black"></i></a>
            </li>
            <li class="db">
              <a class="social-media-link db" href=""><i class="fa fa-facebook db black"></i></a>
            </li>
            <li class="db">
              <a class="social-media-link db" href=""><i class="fa fa-envelope-o db black"></i></a>
            </li>
          </ul>
        </div>
        <div class="footer-column">
        </div>
      </div>
  </div>
  <div class="footer-bottom bg-black">
    <div class="container">
      <p class="copyright-row dark-grey">
        <span class="copyright">Copyright 2017</span>
        <span class="made-by">Site built by <a href="http://cvharris.com" target="_blank">CV Harris Design, LLC.</a></span>
      </p>
    </div>
  </div>
</div>
