<section id="top-splash" class="transparent-section">
  <div class="parallax">
    <div class="parallax-image" style="background-image: url(/images/portfolio/painter/painter_1.jpg);"></div>
  </div>
  <div class="hero-container pt5 pb5">
    <div class="image-container">
      <img id="logo-background" src="/images/9ad66e5c4d_Logo-01.png">
    </div>
    <div id="site-slogan">
      <h3 class="tc white pv4">{{ site.data.config.siteSlogan }}</h3>
      <a href="/#contact" class="action-button f3 pb3 fw7">Contact Us!</a>
    </div>
  </div>
</section>
<section id="about-us" class="relative pv4 bg-white">
  <div class="mw6 center">
    <h2 class="off-black">About Us</h2>
    <!-- TODO insert stuff about him here -->
    <p>Operating in the St. Louis and Kansas City areas, Peter McGaughey is the handyman for all residential and commercial needs.</p>
  </div>
  <div class="awesome-icons mw7 center flex justify-around blue-darker pv5">
    <i class="fa fa-home f-5"></i>
    <i class="fa fa-bath f-5"></i>
    <i class="fa fa-handshake-o f-5"></i>
    <i class="fa fa-cutlery f-5"></i>
    <i class="fa fa-building f-5"></i>
  </div>
</section>
<section id="work" class="relative white bg-green overflow-auto pv4" id="residential">
  <div class="">
    <h2 class="mw6 center pb2">What I Do</h2>
    <p class="mw6 center pb3">Click on any of these to see my portfolio</p>
    <div class="mw7 center flex flex-wrap w-100 justify-center ml0 pl0">
    <!-- TODO picture boxes that filter -->
      <div class="portfolio-filter overflow-hidden mh3 mb4 relative pointer hover-shadow">
        <a class="db" href="/portfolio#interior">
          <img class="db" src="/images/portfolio/fendler/fendler_1.jpg" />
          <h3 class="absolute w-100 tc blue-darker">Interior</h3>
        </a>
      </div>
      <div class="portfolio-filter overflow-hidden mh3 mb4 relative pointer hover-shadow">
        <a class="db" href="/portfolio#bath">
          <img class="db" src="/images/portfolio/brady_gilmore/brady_gilmore_8.jpg" />
          <h3 class="absolute w-100 tc blue-darker">Bath</h3>
        </a>
      </div>
      <div class="portfolio-filter overflow-hidden mh3 mb4 relative pointer hover-shadow">
        <a class="db" href="/portfolio#kitchen">
          <img class="db" src="/images/portfolio/fendler/fendler_4.jpg" />
          <h3 class="absolute w-100 tc blue-darker">Kitchen</h3>
        </a>
      </div>
      <div class="portfolio-filter overflow-hidden mh3 mb4 relative pointer hover-shadow">
        <a class="db" href="/portfolio#basement">
          <img class="db" src="/images/portfolio/teahan/teahan_4.jpg" />
          <h3 class="absolute w-100 tc blue-darker">Basement</h3>
        </a>
      </div>
      <div class="portfolio-filter overflow-hidden mh3 mb4 relative pointer hover-shadow">
        <a class="db" href="/portfolio#exterior">
          <img class="db" src="/images/portfolio/mach_deck/mach_deck_1.jpg" />
          <h3 class="absolute w-100 tc blue-darker">Exterior</h3>
        </a>
      </div>
      <div class="portfolio-filter overflow-hidden mh3 mb4 relative pointer hover-shadow">
        <a class="db" href="/portfolio#deck">
          <img class="db" src="/images/portfolio/klapmeyer/klapmeyer_1.jpg" />
          <h3 class="absolute w-100 tc blue-darker">Deck</h3>
        </a>
      </div>
    </div>
  </div>
</section>
<section id="contact" class="relative overflow-auto pv4 bg-white" id="contact-us">
  <div class="mw6 center">
    <h2>Contact Us</h2>
    <p>12345 Hire Us Today Drive</p>
    <p>Email Us Today at <a class="blue-darker underline" href="mailto:pjm966@gmail.com">pjm966@gmail.com</a></p>
  </div>
</section>
