<!-- nav.njk -->
<nav id="main-menu" class="right nav-menu">
  <div class="menu-section">

    {% for section in site.data.menu %}
      <a href="{{ section.route }}" class="section-link">
        {{ section.label }}
      </a>
    {% endfor %}
    <div id="top-splash" class="transparent-section">
        <div class="parallax">
        <div class="parallax-image" style="background-image: url(/images/denver-kitchen-remodel.jpg); transform: translate3d(0, 0, 0);"></div>
    </div>
  </div>
</nav>
