.project {
  flex: 1 1 34%;
  align-items: center;
  max-width: 50%;

  .image-container {
    justify-content: space-around;
  }
}

main.portfolio {
  padding: 0;
}

.project-info {
  top: 0;
  background-color: transparentize($grey-lightest, .2);
}

.project-filter {
  color: $offBlack;
  font-weight: 300;

  &:hover {
    color: $green-color;
  }

  &.active-tag {
    font-weight: 700;
    color: $blue-darker;
  }
}

.portfolio-header {

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(416, 100%, 50%, 0.3);
    z-index: 1;
  }
}
