.project {
  flex: 1 1 34%;
  align-items: center;
  max-width: 50%;

  .image-container {
    justify-content: space-around;
  }
}

main.portfolio {
  padding: 0;
}

.project-info {
  top: 0;
  background-color: fade-out($grey-lightest, 0.2);
}

.project-filter {
  color: $offBlack;
  font-weight: 300;

  &:hover {
    color: $green-color;
  }

  &.active {
    font-weight: 700;
    color: $blue-darker;
  }
}

.portfolio-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom 40%;
  position: relative;
  z-index: 1;

  h1 {
    text-shadow: none;
    z-index: 2;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      display: block;
      top: 0;
      z-index: -1;
      left: 0;
      background-color: rgba(28, 28, 28, 0.14);
    }
  }
}
